:root {
    --main-text-color: #434455;
    --title-text-color: #2E2F42;
    --alt-title-color: #FFFFFF;
    --alt-text-color: #F4F4FD;
    --accent-color: #4D5AE5;

    --bg-color: #FFFFFF;
    --alt-bg-color: #F4F4FD;
}

html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

li {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: var(--bg-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;

}

.container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.hero {
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    /* min-height: 432px; */
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--title-text-color);
    background-image: linear-gradient(to right,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/studio/hero-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero .button {
    color: var(--alt-title-color);
    background-color: var(--accent-color);
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.mob-menu {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    padding: 24px 24px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms linear;
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 24px;
}



.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    background: #E7E9FC;
    outline: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.mob-menu-close {
    width: 24px;
    height: 24px;
    margin-bottom: 30px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    background: #E7E9FC;
    outline: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.mob-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mob-nav-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.mob-contact-links {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
}

.mob-contact-phone {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #4D5AE5;
}

.mob-contact-mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404BBF;
}

.modal-close-icon {
    fill: var(--title-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
    fill: var(--alt-title-color);
}

.modal-title {
    margin-top: 24px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.input-wrap {
    position: relative;
    margin-bottom: 26px;
}

.modal-imput {
    width: 100%;
    height: 40px;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 14px 34px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-imput:hover,
.modal-imput:focus {
    border-color: #4D5AE5;
}

.modal-imput:hover+.modal-icon,
.modal-imput:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:hover,
.modal-comment:focus {
    border-color: #4D5AE5;
}

.modal-comment::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.input-label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.input-label span {
    display: block;
    margin-bottom: 4px;
}

.is-hidden {
    visibility: none;
    opacity: 0;
    pointer-events: none;
}


.check-text {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check-text span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked+.check-text span {
    background-color: #404BBF;
    border: 1px solid #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    fill: #F4F4FD;
}

.modal-field {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 24px;
}

.check-text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.privacy-link {
    margin-left: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #4D5AE5;
}


.hero .button:hover,
.hero .button:focus {
    background-color: #404BBF;
}

.modal-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    padding: 16px 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    outline: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button:hover,
.modal-button:focus {
    background-color: #404BBF;
}

.header-border {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 72px;
    background-color: #ffffff;
    border-bottom: 1px solid #E7E9FC;
    z-index: 1;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.menu-open-btn {
    margin-left: auto;
    border: none;
    background-color: #ffffff;
}

.burger-icon {
    stroke: #2E2F42;
}

.menu-link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    opacity: 0 transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
    gap: 24px;
}

.filter-list-item {
    display: inline-block;
    cursor: pointer;
    min-width: 45px;
    padding: 12px 24px;
    text-align: center;
    color: var(--accent-color);
    background-color: var(--alt-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    letter-spacing: 0.04em;
    outline: transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list-item:hover,
.filter-list-item:focus {
    color: var(--alt-title-color);
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card-list {
    display: flex;
    flex-wrap: wrap;
    /* width: calc(100%-48px)/3;
    margin-right: 24px;
    margin-bottom: 48px; */
    grid-gap: 48px 24px;
    /* width: 360px;
    box-sizing: border-box; */
}

.portfolio-card-description {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    background-color: var(--alt-title-color);
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
}

.card-cover-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-card-item {
    max-width: 360px;
    cursor: pointer;
    transition: border-left 250ms cubic-bezier(0.4, 0, 0.2, 1), border-right 250ms cubic-bezier(0.4, 0, 0.2, 1), border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-item:hover .portfolio-card-description,
.portfolio-card-item:focus .portfolio-card-description {
    border-left: 1px solid #F4F4FD;
    border-right: 1px solid #F4F4FD;
    border-bottom: 1px solid #F4F4FD;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-item:hover .card-cover-text,
.portfolio-card-item:focus .card-cover-text {
    transform: translateY(0);
}

.card-cover-text {
    position: absolute;
    top: 0;
    padding: 40px 32px;
    color: var(--alt-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--accent-color);
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-title {
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    outline: transparent;
}

.footer-logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--alt-text-color);
    display: inline-block;
    margin-bottom: 16px;
}

.feature-icon-list {
    display: none;
}

.feature-icon-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: var(--alt-bg-color);
    border-radius: 4px;
}

.feature-icon-item-svg {
    width: 64px;
    height: 64px;
}

.feature-icon-item:not(:last-child) {
    margin-right: 24px;
}


.filter-container {
    padding-bottom: 120px;
    padding-top: 100px;
    background-color: var(--bg-color)
}

.menu-link {
    position: relative;
}


.logo-accent {
    color: var(--accent-color);
}


.site-nav {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.main-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: none;
}

.nav-list-item {
    cursor: pointer;
    color: var(--title-text-color);
    text-decoration: none;
}

.nav-list-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    outline: transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus,
.contact-links-link:hover,
.contact-links-link:focus,
.nav-list-link.current {
    color: #404BBF
}

.contact-links-item {
    cursor: pointer;
    text-decoration: none;
}


.nav-list-item:not(:last-child) {
    margin-right: 40px;
}

.contact-links {
    display: none;
}

.contact-links .link+.link {
    margin-left: 40px;
}

.contact-links .link {
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.5;
}

.hero-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 72px;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;

}

.section-our-works {
    display: none;
}

.works-list {
    display: flex;

}

.works-list-item {
    border: 1px solid #E7E9FC;
}



.works-list-item:not(:last-child) {
    margin-right: 24px;
}


.section-title {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.feature-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.feature-list .title {
    text-align: center;
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 8px;
}

.feature-list .text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    /* margin-bottom: 72px; */
}

.feature-list .item:not(:last-child) {
    margin-bottom: 72px;
}

.team-section {
    background-color: var(--alt-bg-color);
    padding-top: 96px;
    padding-bottom: 96px;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-card:not(:last-child) {
    margin-bottom: 72px;
}

.team-card-description {
    background-color: var(--bg-color);
    padding-top: 32px;
    padding-bottom: 32px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team .title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

.team .text {
    color: var(--main-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.mob-social-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.team-social-item {
    width: 40px;
    height: 40px;
}

.team-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    outline: transparent;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #404BBF;
}


.team-social-icon {
    width: 16px;
    height: 16px;
    fill: var(--alt-text-color);
}

.team h3 {
    margin-bottom: 8px;
}

.team .text {
    margin-bottom: 8px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 72px 16px;
    justify-content: space-evenly;
}

.customers-list-item {
    width: calc((100% - 32px)/2);
    height: 88PX;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.customers-link:hover,
.customers-link:focus {
    border-color: #404BBF;
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
    fill: #404BBF;
}

.customers-icon {
    width: 104px;
    height: 56px;
    fill: #8E8F99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--title-text-color);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-gap: 72px 0;
}

.footer-description {
    max-width: 264px;
}




.footer .text {
    color: var(--alt-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.footer .title {
    color: var(--alt-title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    text-align: center;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}


.footer-social-icon {
    width: 24px;
    height: 24px;
    fill: var(--alt-text-color);
}

.footer-subscribe-form {
    width: 100%;
}

.subscribe-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;

}

.subscribe-form input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--alt-title-color);
    background-color: var(--title-text-color);
    border-radius: 4px;
    padding: 8px 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--alt-title-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: transparent;
    opacity: 0.3;
}

.subscribe-form input::placeholder {
    color: var(--alt-title-color);
}

.subscribe-form-button {
    width: 165px;
    height: 40px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    border: none;
    outline: transparent;
    color: var(--alt-title-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--accent-color);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-button:hover,
.subscribe-form-button:focus {
    background-color: #404BBF;
}

.subscribe-form-icon {
    width: 24px;
    height: 20px;
    fill: var(--alt-title-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 427px) {
    .mob-contact-phone {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .container-alt {
        max-width: 584px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .footer-container {
        max-width: 584px;
        padding-left: 16px;
        padding-right: 16px;
        flex-wrap: wrap;
        grid-gap: 72px 24px;
        flex-direction: row;
        align-items: initial;
        text-align: initial;
    }

    .nav-list {
        display: flex;
        margin-left: 76px;
    }

    .contact-links {
        align-items: flex-end;
        display: flex;
        margin-left: auto;
        flex-direction: column;
    }

    .mob-menu {
        display: none;
    }

    .contact-links-link {
        display: flex;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        outline: transparent;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-open-btn {
        display: none;
    }

    .footer-subscribe-form {
        width: auto;
    }

    .footer-social {
        margin-left: 0px;
    }

    .subscribe-form {
        gap: 24px;
        flex-direction: row;
        align-items: initial;
    }

    .subscribe-form input {
        width: 264px;
    }

    .footer-description {
        width: 264px;
    }

    .hero-title {
        font-weight: 700;
        font-size: 56px;
        margin-bottom: 36px;
    }

    .feature-list {
        flex-wrap: wrap;
        flex-direction: row;
        grid-gap: 72px 24px;

    }

    .footer .title {
        text-align: initial;
    }

    .feature-list .item {
        width: 356px;
    }

    .feature-list .item:not(:last-child) {
        margin-bottom: 0;
    }

    .feature-list .title {
        text-align: left;
        color: var(--title-text-color);
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        margin-bottom: 8px;
    }

    .team {
        flex-wrap: wrap;
        flex-direction: row;
        grid-gap: 64px 24px;
        justify-content: center;
    }

    .team-card:not(:last-child) {
        margin-right: 0;
        margin-bottom: 0;
    }

    .customers-list-item {
        width: calc((100% - 48px)/3);
        height: 88PX;
    }

    .customers-list {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 72px 16px;
    }

}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .container-alt {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        flex-wrap: nowrap;
        grid-gap: 0 0;
        flex-direction: row;
        align-items: initial;
    }

    .hero {
        padding-top: 188px;
        padding-bottom: 188px;

    }

    .hero-title {
        margin-bottom: 48px;
    }

    .feature-icon-list {
        display: flex;
        margin-bottom: 8px;
    }

    .feature-list {
        flex-direction: row;
        grid-gap: 0 0;
    }

    .feature-list .item {
        width: 264px;
    }

    .feature-list .title {
        text-align: left;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 0;
    }

    .feature-list .text {
        font-weight: 400;
        margin-bottom: 0;
    }

    .feature-list .item:not(:last-child) {
        margin-right: 24px;
    }

    .section-our-works {
        display: block;
        padding-top: 0;
        padding-bottom: 120px;
    }

    .team-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team {
        display: flex;
        flex-direction: row;
        grid-gap: 0 0;
    }

    .team-card:not(:last-child) {
        margin-right: 24px;
        margin-bottom: 0;
    }

    .customers-list {
        gap: 24px;
        flex-direction: row;
    }

    .customers-list-item {
        width: calc((100% - 120px)/6);
        height: 88PX;
    }

    .footer-subscribe-form {
        margin-left: 80px;
    }

    .footer-social {
        margin-left: 120px;
    }

    .subscribe-form input {
        opacity: initial;
    }

    .nav-list {
        margin-left: 76px;
    }

    .contact-links {
        display: flex;
        margin-left: auto;
        flex-direction: row;
    }

    .contact-links-link {
        display: flex;
        font-style: normal;
        padding-top: 24px;
        padding-bottom: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        outline: transparent;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}